Package: missioncommand-db
Version: [[version]]
Section: contrib/games
Priority: optional
Architecture: all
Maintainer: Benedict Adamson <badamson@spamcop.net>
Description: database of the MC game server
Distribution: stable
Depends: mongodb-server
Recommends: mongodb