<section>
<h4>Players</h4>

<section>
   <p id="recruiting" *ngIf="gamePlayers.recruiting; else notRecruiting">This game is recruiting players.</p>
   <ng-template #notRecruiting>
   <p id="recruiting" >This game is not recruiting players.</p>
   </ng-template>
   <button id="end-recruitment" [disabled]="isEndRecruitmentDisabled$() | async" (click)="endRecuitment()">End recuitment</button>
   <p id="joinable"  *ngIf="mayJoinGame$() | async; else notJoinable">You may join this game.</p>
   <button id="join" (click)="endRecuitment()">Join</button>
   <ng-template #notJoinable>
   <p id="joinable" >You may not join this game.</p>
   <button id="join" disabled>Join</button>
   </ng-template>
</section>
<section id="players">
   This game has no players.
</section>

</section>