<section>
   <h4>Players</h4>

   <section>
      <p id="recruiting"><span *ngIf="recruiting$ | async; else notRecruiting">This game is recruiting players.</span>
      <ng-template #notRecruiting><span>This game is not recruiting players.</span></ng-template>
      </p>

      <button id="end-recruitment" [disabled]="isEndRecruitmentDisabled$ | async" (click)="endRecruitment()">End
         recruitment</button>

      <div>
        <p id="joinable">
          <span  *ngIf="mayJoinGame$ | async; else notJoinable">You may join this game.</span>
          <ng-template #notJoinable><span>You may not join this game.</span></ng-template>
          <button id="join" [disabled]="!(mayJoinGame$ | async)" (click)="joinGame()">Join</button>
        </p>
      </div>

      <p id="playing">
        <span *ngIf="playing$ | async; else notPlaying">You are playing this game as {{characterNameForUser$ | async}}</span>
        <ng-template #notPlaying><span>You are not playing this game.</span></ng-template>
      </p>

      <section id="played-characters" *ngIf="mayManageGames$ | async">
         <ol>
            <li *ngFor="let character of playedCharacters$ | async">{{character}}</li>
         </ol>
      </section>
   </section>

</section>
