# Default values for mc.
# This is a YAML-formatted file.
# Declare variables to be passed into the templates.

replicaCount: 1

image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources: {}
  # Do not specify default resources, to leave as a conscious
  # choice for the user. This increases chances charts run on environments with little
  # resources, such as Minikube.

nodeSelector: {}

tolerations: []

affinity: {}
