Package: missioncommand-fe
Version: [[version]]
Section: contrib/games
Priority: optional
Architecture: all
Maintainer: Benedict Adamson <badamson@spamcop.net>
Description: front-end of the MC game server
Distribution: stable
Depends: nginx-core