<button id="create-game" type=button [disabled]="isDisabledCreateGame$ | async" (click)="createGame()">Create
   game</button>
<nav>
   <h3>Games of this scenario</h3>

   <ul id="games">
      <li *ngFor="let game of games$ | async">
         <a [routerLink]="['/scenario',scenario$ | async,'game',game.created]"
            *ngIf="mayExamineGame$ | async; else mayNotExamineGame">
            {{game.created}}
         </a>
         <ng-template #mayNotExamineGame>{{game}}</ng-template>
      </li>
   </ul>
</nav>
